{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Defult Content
        {% endblock  %}
    </title>
    <link rel="stylesheet" href="{% static 'style.css'%}">
</head>
<body>
    <nav>This is our navbar</nav>
     {% block content %}{% endblock %}  
     <table>
        <caption>Admin Table</caption>
        <tr>
            <th>Name</th>
            <th>Discription</th>
            <th>created_at</th>
        </tr>  
        <tr>
            <td>Taniya</td>
            <td>A college gooing girl.</td>
            <td>14-03-2022</td>
        </tr>    
    </table>  
</body>
</html>